services:
  - type: web
    name: dejabrew
    env: python
    region: singapore
    plan: standard
    buildCommand: bash -c 'pip install -r requirements.txt && python dejabrew/manage.py collectstatic --noinput --clear && python dejabrew/manage.py migrate --noinput'
    startCommand: gunicorn dejabrew.dejabrew.wsgi:application --bind 0.0.0.0:$PORT --workers 2
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: dejabrew.settings
      - key: ENVIRONMENT
        value: production
      - key: DEBUG
        value: false
      - key: DATABASE_URL
        sync: false
      - key: ALLOWED_HOSTS
        value: "*.onrender.com"
      - key: SESSION_COOKIE_SECURE
        value: true
      - key: CSRF_COOKIE_SECURE
        value: true
